<nav class="">
    <ul>
        <li> <%= link_to "Store Home", store_path %> </li>
        <% if !!@cart %>
          <li> <%= link_to "Cart", cart_path(current_cart) %></li>
        <% end %>
    </ul>
    <% if current_cart %>
      <a href="/carts/1">Cart</a>
    <% end %>
</nav>
